<footer>
    <hr>
    <h6 class="footer">

        <br>
        ©&nbsp;Aiden Ryhan Ireland
        <br>
        <br>
        <u>Credits To:</u>&nbsp;
        <br>
        © <a href="https://www.instagram.com/rzaga.photography/?hl=en" >Rzaga.Photography.
            All rights reserved for profile photo</a>
            <br>
        © <a href="https://wallpaperaccess.com" >WallPaperAccess.
            All rights reserved for background</a>
        <br>
        <br>
        
    </h6>
</footer>