<nav>
    <hr>
        <a class="menu" href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="menu" href="/about-me">About Me</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <!--<a class="menu" href="/resume">Resume</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
        <a class="menu" href="/contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="menu" href="/projects">Projects</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="menu" href="/services">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <hr>
</nav>