<hr><!--Moved the hr outside bracked to fix nav-->
<nav>
        <a class="menu" href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="menu" href="/about-me">About Me</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <!--<a class="menu" href="/resume">Resume</a>&nbsp;&nbsp;&nbsp;&nbsp; I want to ass a resume once I finish one-->
        <a class="menu" href="/contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="menu" href="/projects">Projects</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="menu" href="/services">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;
</nav>
<hr>