<!DOCTYPE html>
<html>
    <!--Import ejs file so I dont have to keep writiting it over and over and over and over and over and over and over-->
    <%- include('partials/head.ejs') %>
    <div id="whole">
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <main>
         <h2>About Me</h2>
         <p>Greetings! I'm Aiden Ireland, and I'm thrilled to have you explore my portfolio.
            <br>
            <br>
             I am currently enrolled at Centennial College, completeing my college advance diploma in
             <a href="https://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technology/"><b>Software Enginnering Technology</b></a>
             . My main goal while in college is to learn as much useful and pratical skills as I can to help me on my career path while making connections with my fellow students on campus, Computer Science
              club and in my classes, and to achive a great overall GPA in my classes.
            </p>
            <hr style="border-width: 3px;">
        <h5>Familiar Languages</h5>
            <ul>
                <il>C#   </il><br>
                <il>SQL   </il><br>
                <il>Python   </il><br>
                <il>HTML:5   </il><br>
                <il>CCS   </il><br>
                <il>JavaScript   </il><br>
                <il>Express JavaScript   </il><br>
                <il>JavaScript   </il><br>
                
            </ul>
        </main>
    </body>
    </div>
</html>