<!DOCTYPE html>
<html>
    <!--
        Date: October 07 2023
        S/N: 301219359
        Aiden Ireland
    -->
    <!--Import ejs file so I dont have to keep writiting it over and over and over and over and over and over and over-->
    <%- include('partials/head.ejs') %>
    <div id="whole">
    <body>
        <header>
            
<h4>Aiden Ireland, Software Enginnering Student</h4>
        </header>
        <%- include('partials/nav.ejs') %>
        <main>
            <h2>Contact Me</h2>
            <p>Want to send me a message? Use the form below and I'll get back to you in 24-72 hours. Please leave your name, email, and a message about your inquiry.</p>
            <form action="mailto:aidenireland2004@gmail.com" method="post" enctype="text/plain">
                <table id="mainTable">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <h2>Contact Form</h2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span>Please <b>fill</b> the form according to your preferences. (<b>One answer</b> per question).</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="FirstName">First Name:</label>
                                <input name="FirstName" type="text" tabindex="1" required="required">
                            </td>
                            <td>
                                <label id="LastName" for="LastName">Last Name:</label>
                                <input name="LastName" type="text" tabindex="1" required="required">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label for="Number">Number:</label>
                                <input name="Number" type="tel" tabindex="7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="416-000-0000" required="required">
                            </td>
                            <td>
                                <label for="Email">Email:<br></label>
                                <input name="Email" type="email" tabindex="8" required="required" placeholder="something@domain.area" required="required">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="Message">Message:</label><br>
                                <textarea name="Message" rows="4" tabindex="12" required="required"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button name="Submit" class="submit_btn" type="submit" value="Send Message">Send Message</button>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </form>
        </main>
        <%- include('partials/footer.ejs') %>
        </body>
    </div>
</html>