<!DOCTYPE html>
<html>
    <!--Import ejs file so I dont have to keep writiting it over and over and over and over and over and over and over-->
    <%- include('partials/head.ejs') %>
    <div id="whole">
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <main>
            <H2>Projects</H2>
            <DIV id = "project">
                <table>
                    <tr>
                        <!--Hearder and imagie-->
                        <td>
                            <!-- Header -->
                            <h3>
                                Project 1
                                <br>
                                Web Design Project 
                            </h3>
                        </td>
                        <!-- Image -->
                        <td rowspan="2"> <!--Align imagie by taking rows-->
                            <a href="https://aidenrireland.github.io/Web-Design-FinalProject/"><img src="images\Web-Design-Project-Img.png" alt="Project Image" /></a>
                        </td>
                    </tr>
                    <tr>
                        <!--Column -->
                        <td>
                            <!-- Description -->
                            <p>Assume designing a webpage for a 
                                local restate agent which consisted of
                                 atlest 7 pages.<br> Final mark 20/20.</p>
                        </td>
                    </tr>
                </table>
             </DIV>
             <br>
             <br>
             <br>
             <DIV id = "project">
                <table>
                    <tr>
                        <!--Hearder and imagie-->
                        <td>
                            <!-- Header -->
                            <h3>
                                Project 2
                                <br>
                                Programming II 
                            </h3>
                        </td>
                        <!-- Image -->
                        <td rowspan="2"> <!--Align imagie by taking rows-->
                            <a href="https://github.com/SemiMochiBalls/Group-Project-for-Programming-2/blob/master/README.md"><img src="images/PRIIIMG.png" alt="Project Image" /></a>
                            
                        </td>
                    </tr>
                    <tr>
                        <!-- Text Column -->
                        <td>
                            <!-- Description -->
                            <p>Worked in a group of 3 to design a banking application using cmd terminal. Final mark 6/10</p>
                        </td>
                    </tr>
                </table>
             </DIV>
             <br>
             <br>
             <br>
             <DIV id = "project">
                <table>
                    <tr>
                        <!--Hearder and imagie-->
                        <td>
                            <!-- Header -->
                            <h3>
                                Project 3
                                <br>
                                portfolio Website 
                            </h3>
                        </td>
                        <!-- Image -->
                        <td rowspan="2"> <!--Align imagie by taking rows-->
                            <a href="https://aidenrireland.github.io/Portfolio/index.html"><img src="images/Project-Port.png" alt="Project Image" /></a>
                        </td>
                    </tr>
                    <tr>
                        <!-- Text Column -->
                        <td>
                            <!-- Description -->
                            <p>Personal Portfolio Website I plan to use for my own self projects and resume</p>
                        </td>
                    </tr>
                </table>
             </DIV>
             <br>
             <br>
             <br>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
    </div>
</html>