<!DOCTYPE html>
<html>
    <!--Import ejs file so I dont have to keep writiting it over and over and over and over and over and over and over-->
    <%- include('partials/head.ejs') %>
    <div id="whole">
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <main>
        </main>
    </body>
    </div>
</html>