<!DOCTYPE html>
<html>
    <!--Import ejs file so I dont have to keep writiting it over and over and over and over and over and over and over-->
    <%- include('partials/head.ejs') %>
    <div id="whole">
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <main>
            <H2>Projects</H2>
            <DIV id = "project">
                <table>
                    <tr>
                        <!--Hearder and imagie-->
                        <td>
                            <!-- Header -->
                            <h3>
                                Project 1
                                <br>
                                Web Design Project 
                            </h3>
                        </td>
                        <!-- Image -->
                        <td rowspan="2"> <!--Align imagie by taking rows-->
                            <img src="images\Web-Design-Project-Img.png" alt="Project Image" />
                        </td>
                    </tr>
                    <tr>
                        <!--Column -->
                        <td>
                            <!-- Description -->
                            <p>Short description of the project goes here.</p>
                        </td>
                    </tr>
                </table>
             </DIV>
             <br>
             <br>
             <br>
             <DIV id = "project">
                <table>
                    <tr>
                        <!--Hearder and imagie-->
                        <td>
                            <!-- Header -->
                            <h3>
                                Project 2
                                <br>
                                Programming II 
                            </h3>
                        </td>
                        <!-- Image -->
                        <td rowspan="2"> <!--Align imagie by taking rows-->
                            <img src="path_to_project_image.jpg" alt="Project Image" />
                        </td>
                    </tr>
                    <tr>
                        <!-- Text Column -->
                        <td>
                            <!-- Description -->
                            <p>Short description of the project goes here.</p>
                        </td>
                    </tr>
                </table>
             </DIV>
             <br>
             <br>
             <br>
             <DIV id = "project">
                <table>
                    <tr>
                        <!--Hearder and imagie-->
                        <td>
                            <!-- Header -->
                            <h3>
                                Project 3
                                <br>
                                Idk 
                            </h3>
                        </td>
                        <!-- Image -->
                        <td rowspan="2"> <!--Align imagie by taking rows-->
                            <img src="path_to_project_image.jpg" alt="Project Image" />
                        </td>
                    </tr>
                    <tr>
                        <!-- Text Column -->
                        <td>
                            <!-- Description -->
                            <p>Short description of the project goes here.</p>
                        </td>
                    </tr>
                </table>
             </DIV>
             <br>
             <br>
             <br>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
    </div>
</html>