<!DOCTYPE html>
<html>
    <!--Import ejs file so I dont have to keep writiting it over and over and over and over and over and over and over-->
    <%- include('partials/head.ejs') %>
    <div id="whole">
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <main>
            <H2>Projects</H2>
            <DIV id="project">
                <h3>Project 1</h3>
               <p>IDK</p>
               <table>
                <tr>
                    <td>yo</td>
                    <td>yo</td>
                </tr>
               </table> 
            </DIV>
            <DIV>
                IDK 
             </DIV>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
    </div>
</html>