<!DOCTYPE html>
<html>
    <!--
        Date: October 07 2023
        S/N: 301219359
        Aiden Ireland
    -->
    <!--Import ejs file so I dont have to keep writiting it over and over and over and over and over and over and over-->
    <%- include('partials/head.ejs') %>
    <div id="whole">
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <main>
            <h3>Services</h3>
            <p>Some of the following services that I provide are</p>
            <br>
            <!--Creat drop down divs for each skills I can think of and list-->
            <div class="service">
                <h4 class ="stitle">Web Development <span class="arrow">&#x25BA;</span></h4>
                <div class ="description">
                    <p>&bull; "Craft bespoke websites and web applications tailored to specific business needs and user preferences."</p>
                </div>
            </div>
            <div class="service">
                <h4 class ="stitle">Database and management <span class="arrow">&#x25BA;</span></h4>
                <div class ="description">
                    <p> &bull; "Design, optimize, and manage databases ensuring secure and efficient data storage and retrieval."<br><br>
                        &bull;  "Use quaries to call/manage sql tables/databases"
                    </p>
                </div>
            </div>
            <div class="service">
                <h4 class ="stitle">Graphic Design and UI/UX <span class="arrow">&#x25BA;</span></h4>
                <div class ="description">
                    <p> &bull; "Design intuitive interfaces and engaging visuals that enhance user experience and brand image."<br><br>
                        &bull; "Design user friendly userfaces in canvua before creating it in CSS"
                    </p>
                </div>
            </div>
            <div class="service">
                <h4 class ="stitle">Quality Assurance and Testing <span class="arrow">&#x25BA;</span></h4>
                <div class ="description">
                    <p>&bull; "Ensure software is bug-free and performs optimally through rigorous testing and quality checks."</p>
                </div>
            </div>
            <div class="service">
                <h4 class ="stitle">Technical Writing <span class="arrow">&#x25BA;</span></h4>
                <div class ="description">
                    <p>
                        &bull; "Translate complex technical concepts into clear, user-friendly documentation and guides."<br><br>
                        &bull; "Properly document the technical process"
                    </p>
                </div>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
    </div>
</html>