
hr{
  border-style: solid;
  border-color: black ;
  border-width: 3px;
}
#whole{
padding:2px;
  border-style:ridge;
  border-color:#fffb00;
  width: 100%;
  max-width:980px;
  margin-right:auto;
  margin-left:auto;
  background-color: rgba(0,0,0,.5);
  border-radius: 25px;
}
body,html{
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  height: 100%;
}
.menu{
  color: white;
  font-weight: 700;
}
body{
  /*Imagie for now untill I learn a better css background*/
  background-image: url(/images/Background\(1\).jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}
.alingtable{
  width: 55%;
  margin-left: auto;
  margin-right: auto;     
}
#head-profile{
  background-color: #E0E0E0;
  /* gray fallback color if imagw dosnt exist*/
  border-radius: 50%;
  float: right; 
  margin-right: 100px;
  border: 1px solid #fffb00;
}
h2{
  text-decoration: solid;
  padding-left: 50px;
}
p{
  padding-left: 50px;
}
footer{
  text-align: center;
}
h5{
  text-decoration: solid;
  padding-left: 50px;
}
h4{
  text-decoration: solid;
  text-align: center;
}
table#mainTable{
  border: 1px solid #fffb00;    
  border-radius: 30px;
  box-shadow: 1px 1px 1px #000001;
  padding: 15px;
  width: 50%;
  margin: 0 auto;
}
.submit_btn{
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  background-color:transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.submit_btn:hover{
background: black;
border: 3px solid white;
transform: scale(1.05);
}
h3{
  text-decoration: solid;
  padding-left: 50px;
}
#project{
  border: 1px solid #fffb00;    
  border-radius: 40px;
  box-shadow: 1px 1px 1px #000001;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color:rgba(0,0,0,0.5) ;
  transition: transform 0.3s ease; /*Transform div in 0.3 seconds with a transition*/

}
#project:hover {
  transform: scale(1.05); /*mskrd it 105% of its size */
}
table img{
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  transition: transform 0.3s ease;
  border: 1px solid #fffb00;    
  border-radius: 40px;
  box-shadow: 1px 1px 1px #000001;
  width: 80%;
  margin-left: 19%;
  box-sizing: border-box;
  background-color:rgba(0,0,0,0.5) ;
}
table img:hover{
  transform: scale(1.05);
}
.service{

}
.stitle{
  text-align: left;
  text-decoration: solid;
  padding-left: 50px;
}
.arrow{
  transition: transform 0.3s ease;
}
.description{
  display: none;
  margin-top: 10px;
}